body {
    background-color: aqua;
}

.content {
    display: grid;
    justify-content: center;
}

.content a {
    display: flex;
    justify-content: center;
}

.responsive {
    width: 100%;
    height: auto;
}
