<<<<<<< HEAD
body {
    background-color: aqua;
}

.content {
    display: grid;
    justify-content: center;
}

.content a {
    display: flex;
    justify-content: center;
}
=======
>>>>>>> b72bb78778c0ece101d2e8ba2480b9bff31d6c14
